body {
    background-image: url(../Images/bg.jpg);
  }
  .logo {
    font-family: cursive;
  }
  .logo a {
    color: rgba(0,0,0,.9);
  }
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }
  