body{
  background-image: url(../Images/bg.jpg);
  color:#555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;

}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#mainHeader{
  background-color: coral;
  color: #ffffff;
}

#navBar{
  overflow: hidden;
  background-color: #333;
  text-align: center;
  margin: auto;

}

#navBar a{
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
  width: 20%;


}

#navBar a:hover{
  background-color: grey;
}

#navBar a:active{
  background-color: red;
}

.block{
  float: left;
  width: 50%;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}
