<!DOCTYPE html>
{% extends "website_base.html" %}
{% load static %}
{% load i18n %}
<html>

    <link rel="stylesheet" href="{% static 'css/contact.css' %}" >


  {% block content %}
      
    <div id="container">
        <div class="heading"><h1>Contact Us</h1></div>
        <div class="content">
          <form name="contactForm" onsubmit="return formValidation()">
                <fieldset>
                        <i>{% trans "* must be filled out" %}</i><br>
                        <label>{% trans " First Name:" %}<input type="text" name="fname" required></label><br>
                        <label>{% trans "Last Name: " %} <input type="text" name="lname" required></label><br>
                        <label>{% trans "Email*:" %}  <input type="email" id="email" required></label><br><br>
                        <label>{% trans " Male:" %} <input type="radio" name="gender" checked></label><br>
                        <label>{% trans " Female:" %} <input type="radio" name="gender"></label><br><br>
                        <label>{% trans "Continent:" %} 
                            <select>
                                <option value="EUR">{% trans "Europe" %} </option>
                                <option value="USA">{% trans "America" %} ></option>
                                <option value="Asia">{% trans "Asia" %</option>
                                <option value="AUST">{% trans "Australia" %}</option>
                            </select>
                        </label><br><br>
                        <label>{% trans " Message:" %}<br> 
                            <textarea placeholder="Write your comment here...." id="message"></textarea>
                        </label>
                        <label>{% trans "Where did you hear about this website?" %} <br>
                            <input type="checkbox" name="checkbox" value="friend" checked> {% trans "Friend/ Word of mouth" %} 
                            <input type="checkbox" name="checkbox" value="websites" > {% trans "Other websites" %} <br>
                            <input type="checkbox" name="checkbox" value="ad" >{% trans "Advertisement" %} 
                            <input type="checkbox" name="checkbox" value="tv" >{% trans "TV" %} <br>
                        </label>
                        <input type="submit" value="Submit" style="float:right">
                    
              </fieldset>
            </form>
        </div>
    </div>
  {% endblock content %}
</html>
