<!DOCTYPE html>
{% extends "website_base.html" %}
{% load static %}
{% load i18n %}
<html>

  <link rel="stylesheet" href="{% static 'css/ptv.css' %}" >

{% block content %}

<div class="container">
  <div class="article">
    <img src="{{MEDIA_URL}}{{ LANGUAGE_CODE }}/ptv1.jpg">
    <div class="articledesc">
      <p>{% trans "The Garden Bar at Jurys Inn Galway is one of the city’s hidden gems. The Garden Bar is Galway’s largest beer garden and is situated adjacent to the River Corrib overlooking the World famous Claddagh and Galway’s Fishery watchtower. This amazing sun trap is the place to be on a summer’s day and often becomes Galway’s main hot spot for a relaxing coffee, a bite to eat or an evening of refreshing drinks. The garden has a capacity of over 150 people with a wide range of garden furniture to enjoy the wonderful surroundings. The area is serviced with a full sound system playing various genres of music to suit the tone of the day. The Garden Bar is the ideal spot for a casual get together or larger party with the hotel offering a full BBQ menu in the summer months with a dedicated Chef to cater for any occasion." %}</p>
    </div>
  </div>

  <div class="article">
      <img src="{{MEDIA_URL}}{{ LANGUAGE_CODE }}/ptv2.jpg">
      <div class="articledesc">
        <p>{% trans "Spanning nearly 3,000 hectares of mountains, bogs, heaths and woodlands, Connemara National Park is a fantastic spot for walking and hiking There are actually 3 walks to do within the park. The pathways are well marked out and signposted and the walks are planned to suit everyone, from the novice to the well-seasoned walker. You also have the added comfort of having Park Rangers on hand, just in case you get into any difficulties." %}</p>
      </div>
    </div>
</div>


{% endblock content %}
</html>
