{% extends 'forum_base.html' %}
{% load i18n %}
{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'forum' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block post %}
  <div class="form-inline ml-auto my-lg-0">
      <a href="{% url 'new_topic' board.pk %}"> New Topic</a>
  </div>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in board.topics.all %}
        <tr>
          <td>
            <a href="{% url 'topic_message' board.pk topic.pk %}">{{ topic.subject }}</a>
          </td>
          <td>{{ topic.starter.user }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ topic.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
