<!DOCTYPE html>
{% extends "website_base.html" %}
{% load static %}
{% load i18n %}
<html>

{% block content %}
  <div class="transportC">

    <div class="transport">
      <div class="ic">
        <img src="{{MEDIA_URL}}{{ LANGUAGE_CODE }}/transport1.jpg">
      </div>
      <div class="tc">
        <h3>{% trans "Bus" %}</h3>
      </div>

    </div>


    <div class="transport">
      <div class="ic">
        <img src="{{MEDIA_URL}}{{ LANGUAGE_CODE }}/transport2.jpg">
      </div>

      <div class="tc">
        <h3>{% trans "Bike" %}</h3>
      </div>


    </div>

    <div class="transport">
      <div class="ic">
        <img src="{{MEDIA_URL}}{{ LANGUAGE_CODE }}/transport3.jpg">
      </div>
      <div class="tc">
        <h3>{% trans "Train" %}</h3>
      </div>
{% endblock %}
    </div>
</html>
